.nav {
  display: flex;
  padding: 1rem;
  background-color: var(--header-background-color);
  align-items: center;
  border-radius: 2rem;
  z-index: 1;
}

.nav-left {
  flex: 1;
  padding-left: 3rem;
}

.logo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.nav-right {
  padding-right: 2rem;
}

.navbar {
  display: flex;
}

.navbar-item {
  justify-content: flex-end;
  text-decoration: none;
  color: var(--nav-item-color);
  font-size: 1.8rem;
  opacity: 0.8;
  padding: 1.6rem;
}

.navbar-item:hover {
  color: var(--nav-item-hover-color);
  opacity: 0.8;
}

@media screen and (max-width: 50rem) {
  .logo {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  .navbar-item {
    font-size: 1.2rem;
    opacity: 0.8;
    padding: 1rem;
  }
}
