.portfolio-container {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-btn {
  text-transform: uppercase;
  background-color: var(--button-background-color);
  padding: 6px 1.2rem;
  display: inline-block;
  font-size: 1.4rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  border-radius: 5px;
}

.filter-btn:active {
  background-color: var(--button-active-color);
  color: var(--button-background-color);
}

.filter-btn:focus {
  outline-color: transparent;
  border: none;
  outline-style: solid;
  box-shadow: 0 0 0 5px var(--button-active-color);
}

.section-center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 2rem;
  justify-items: center;
}

.img-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
  border: 2px solid var(--border-color);
  border-radius: 2rem;
}

.photo {
  object-fit: contain;
  height: 40rem;
  width: 25rem;
  border-radius: 15px;
  box-shadow: -2px -2px 1px 1px rgb(0, 0, 0, 0.5);
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
  opacity: 1;
}

.img-item-info h6 {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

@media screen and (max-width: 60rem) {
  .filter-btn {
    font-size: 1.2rem;
  }
  .section-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 2rem;
  }
}

@media screen and (max-width: 50rem) {
  .filter-btn {
    font-size: 0.8rem;
  }
  .section-center {
    display: grid;
    grid-template-columns: 1fr;
  }
}
