.portfolio-container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filter-btn {
  text-transform: uppercase;
  background: transparent;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.btn:hover {
}
.section-center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 2rem;
  justify-items: center;
}
.img-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
  border: 2px solid black;
}
.photo {
  object-fit: contain;
  height: 400px;
  width: 300px;
  border: 0.25rem solid 2px;
  border-radius: 2px;
}
.img-item-info h6 {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
