.resume-page-contents {
  display: flex;
  flex-direction: column;
  letter-spacing: 0;
  padding: 10rem;
}

.experience {
  margin: var(--margin);
}

.education-title,
.experience-title,
h2 {
  font-size: 3rem;
}

.education-time {
  font-size: 1, 4rem;
  color: gray;
}

.experience-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.li,
p {
  font-size: 1.2rem;
}
